@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --primary-colour: #5050ff;
  --button-colour: #5050ff;
  --button-colour-dark: #3939b8;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat";
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
}

header {
  background: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 10px grey;
}
header .logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}
header .logo span {
  color: var(--primary-colour);
}
header .menu-open {
  cursor: pointer;
  z-index: 50;
  position: relative;
  right: 2em;
}
header nav {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  margin: 3em 0;
  padding: 2em 2em;
}

#hero {
  text-align: center;
  margin-top: 4em;
}
#hero img {
  border-radius: 50%;
  max-width: 200px;
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hero .hero-info h1 {
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}
#hero .hero-info h3 {
  font-weight: normal;
  margin-bottom: 2.5em;
}
#hero .hero-cta {
  background-color: var(--button-colour);
  color: white;
  text-decoration: none;
  padding: 0.75em 1em;
  font-size: 1.2em;
  border-radius: 3em;
  font-weight: bold;
}
#hero .hero-cta:hover {
  background-color: var(--button-colour-dark);
}

#about h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}
#about p {
  margin-bottom: 2.5em;
}
#about .about-skills h3 {
  text-align: center;
  margin-bottom: 1.3em;
}
#about .skills h3 {
  text-align: center;
  margin-bottom: 1em;
}
#about .skills .skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
#about .skills .skills-list .skills-list__category {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
}
#about .skills .skills-list .skills-list__category .skills-category-name {
  margin-right: 1em;
}
#about .skills .skills-list .skills-list__category .skills-icons {
  display: flex;
}
#about .skills .skills-list .skills-list__category .skills-icons .skill {
  margin: 0.5em;
}
#about .skills .skills-list .skills-list__category .skills-icons .skill img {
  max-width: 100%;
  display: block;
}
@media only screen and (max-width: 550px) {
  #about .skills .skills-list .skills-list__category {
    flex-direction: column;
  }
}

#projects h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}
#projects .project {
  margin-bottom: 3.5em;
}
#projects .project .project-info {
  margin-bottom: 1.5em;
}
#projects .project .project-link {
  background-color: var(--button-colour);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 3em;
  font-weight: bold;
}
#projects .project .project-link:hover {
  background-color: var(--button-colour-dark);
}
#projects .project .project-image {
  max-width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 1.5em;
  justify-content: center;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
  width: 100%;
}
footer .footer-left {
  padding: 0em 1em;
}
footer .footer-left .footer-title {
  text-align: center;
}
footer .footer-left .footer-info {
  text-align: center;
}
footer .footer-right {
  padding-bottom: 1em;
  text-align: center;
  margin-bottom: 1em;
}
footer .footer-right .socials-list {
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav.menu-button {
  display: block;
}

.hero-nav {
  background: #1a1e67;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 40vh;
  right: 0;
  top: 0;
}
.hero-nav .menu-exit {
  float: right;
  margin: 1em;
  cursor: pointer;
}
.hero-nav .hero-nav-list {
  text-align: center;
  margin: 2em;
  padding: 2em;
}
.hero-nav .hero-nav-list li {
  padding-bottom: 0.5em;
}
.hero-nav .hero-nav-list li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.25em;
  font-size: 1.3em;
  text-align: center;
}
.hero-nav .hero-nav-list li a:hover {
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .menu-open,
  .menu-exit {
    display: none;
  }
  header .hero-nav {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background: none;
    position: relative;
    height: auto;
    width: auto;
    padding: 0 1em;
  }
  header .hero-nav .hero-nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  header .hero-nav .hero-nav-list li {
    padding: 0;
  }
  header .hero-nav .hero-nav-list a {
    color: black;
    font-size: 1.3em;
    padding: 0.1em 1em;
  }
  header .hero-nav .hero-nav-list a:hover {
    font-weight: bold;
  }
}
@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2.75em;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.15em;
  }
  p {
    font-size: 1.25em;
  }
  .about-skill {
    font-size: 1.5em;
  }
  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project .project-text {
    padding-right: 2em;
  }
  .project .project-image {
    width: 50%;
    max-width: none;
    margin-top: 0;
  }
}
@media only screen and (min-width: 900px) {
  body {
    margin: 0 auto;
  }
  .main-container {
    max-width: 800px;
  }
  header {
    margin: auto;
  }
  header .logo {
    margin-left: 2em;
  }
  header .hero-nav {
    margin-right: 2em;
  }
  footer {
    width: 100vw;
  }
}
@media only screen and (min-width: 1150px) {
  .main-container {
    max-width: 950px;
  }
  header .logo {
    margin-left: 4em;
  }
  header .hero-nav {
    margin-right: 4em;
  }
}
@media only screen and (min-width: 1350px) {
  .main-container {
    max-width: 1100px;
  }
  header .logo {
    margin-left: 6em;
  }
  header .hero-nav {
    margin-right: 6em;
  }
}
@media only screen and (min-width: 1550px) {
  header .logo {
    margin-left: 8em;
  }
  header .hero-nav {
    margin-right: 8em;
  }
}
@media only screen and (min-width: 1800px) {
  header .logo {
    margin-left: 12em;
  }
  header .hero-nav {
    margin-right: 12em;
  }
}
@media only screen and (min-width: 1950px) {
  header .logo {
    margin-left: 14em;
  }
  header .hero-nav {
    margin-right: 14em;
  }
}/*# sourceMappingURL=main.css.map */